.header {
	text-align: center;
	width: 100%;
	transition: scale 0.25s ease;
}

.header:hover {
	scale: 1.1;
}

.cursor {
	border: 1px solid pink;
	position: absolute;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	z-index: -1;
}